{% extends 'base.html' %}

{% block head %}
<title>CRUD App</title>
{% endblock %}


{% block body %}
<h1>CRUD App</h1>
<p>This is the base template for creating a CRUD app.</p>
<div class="content">
    <table>
        <tr>
            <th>Item</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for task in tasks %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{{ task.date_created.date() }}</td>
                <td>
                    <a href="/delete/{{task.id}}">Delete</a>
                    <br />
                    <a href="">Update</a>
                </td>
            </tr>
        {% endfor %}
    </table>
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Item">
    </form>
</div>
{% endblock %}

